<section class="crud-program">
  <h2 class="section-title">Редактировать  <span class="font-red">Главную страницу</span></h2>
  <div class="container">
    <form class="crud-form" action="/admin/pages/welcome/{{welcome.id}}?_method=PUT" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">
      <div class="input-group">
        <label for="text">Название страницы</label>
        <input type="text" name="title" value="{{welcome.title}}" class="crud-input">
      </div>
      <div class="input-group">
        <label for="text">Начало Фестиваля(3 July 2019)</label>
        <input type="text" name="time" value="{{welcome.time}}" class="crud-input">
      </div>
      <div class="input-group">
        <label for="text">Изображение (1920 x 1080)</label>
        <input type="file" name="bgImage" value="{{welcome.image}}" class="crud-input" multiple>
      </div>
      <div class="input-group">
        <label for="text">Баннеры (1920 x 1080 - несколько изображений)</label>
        <input type="file" name="banners" value="{{welcome.banners}}" class="crud-input" multiple>
      </div>
      <button class="btn round upper" type="submit">Опубликовать</button>
    </form>
  </div>
</section>