<section class="admin-program">
  <h2 class="section-title">Конструктор Программы Фестиваля</h2>
  <a href="/admin/program/add" class="btn round upper">Добавить день</a>
  <div class="container">
    <div class="wrapper-row">
      {{#each days}}
      <div class="card-program">
        <a href="/admin/program/edit/{{id}}" class="edit-icon">  
          <i class="material-icons">edit</i>          
        </a>
        <img src="/{{image}}" alt="" class="image">
        <div class="small-overlay">
          <div class="top">
            <div class="date-circle">
              <div class="number bold">{{number}}</div>              
              <div class="month regular">{{month}}</div>
            </div>
            <div class="info-container">
              <h6 class="bold">{{title}}</h6>
              <div class="begining">Начало в {{time}}</div>
            </div>
          </div>
          <div class="bottom">
            <div class="place bold">{{place}}</div>
            <div class="link-to-page">
              <i class="material-icons">arrow_forward</i>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>