<section class="single-program">
  <img class="blured-bg-image" src="/uploads/{{day.image}}" alt="">
  <div class="container">
    <div class="card-single-program">
      <img src="/uploads/{{day.image}}" alt="" class="image">
      <div class="card-content">
        <div class="overlay-card">
          <div class="left">
            <div class="date-circle">
              <p class="number bold">{{day.number}}</p>
              <p class="month regular">{{day.month}}</p>
            </div>
          </div>
          <div class="right">
            <div class="content">
              <h4 class="title bold">{{day.title}}</h4>
              <p class="thesis">{{day.thesis}}</p>
              <ul class="content-icon-list">
                <li>
                  <i class="material-icons">watch_later</i>
                  <h6>Начало в {{day.time}}</h6>
                </li>
                <li>
                  <i class="material-icons">location_on</i>
                  <h6>{{day.place}}</h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-buttons">
          <a class="btn round" target="_blanks" href="/program/pdf/{{day.id}}">Печать</a>
          <form action="/users/current/myprogram/{{day.id}}" method="POST">
            <button class="btn round">Добавить себе</button>
          </form>
        </div>
        <div class="text-content">
          {{{day.description}}}
        </div>
      </div>
    </div>
  </div>
</section>