<section class="admin-pages">
  <h2 class="section-title">Редактирование контента страниц</h2>
  <div class="container">
    <table>
          <tr>
            <th>Страница</th>
            <th>Редактировать</th>
          </tr>
          {{#each pages}}
          <tr>
            <td>{{welcome.title}}</td>
            <td>
              <div class="row">
                <a class="btn" href="/admin/pages/edit/welcome/{{welcome.id}}">Изменить страницу</a>                
              </div>
            </td>
          </tr>
          <tr>
            <td>{{children.title}}</td>
            <td>
              <div class="row">
                <a class="btn" href="/admin/pages/edit/children/{{children.id}}">Изменить страницу</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>{{restaraunt.title}}</td>
            <td>
              <div class="row">
                <a class="btn" href="/admin/pages/edit/restaraunt/{{restaraunt.id}}">Изменить страницу</a>
                <a class="btn" href="/admin/pages/add/restaraunt/renter/{{restaraunt.id}}">Добавить арендатора</a>
                <a class="btn" href="/admin/pages/restaraunt/renters">Все Арендаторы</a>
              </div>
            </td>
          </tr>
          {{/each}}
    </table>
  </div>
</section>