<section class="crud-program">
  <h2 class="section-title">Редактировать <span class="font-red">Товар</span></h2>
  <div class="container">
    <form class="crud-form" action="/admin/shop/{{item.id}}?_method=PUT" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="PUT">
      <div class="input-group">
        <label for="text">Заголовок</label>
        <input type="text" name="title" value="{{item.title}}" class="crud-input">
      </div>
      <div class="input-group">
        <label for="text">Цена (Просто цифра) </label>
        <input type="number" name="price" value="{{item.price}}" class="crud-input">
      </div>
      <div class="input-group">
        <label for="text">Изображение (1920 x 1080)</label>
        <input type="file" name="image" value="{{item.image}}" class="crud-input">
      </div>
      <div class="input-group">
        <label for="text">Размеры (Разделить каждый размер проблем, т.е:S M L)</label>
        <input type="text" name="sizes" value="{{#each item.size}}{{size}}{{/each}}" class="crud-input">
      </div>
      <div class="input-group">
        <label for="text">Небольшое описание (если нет размеров, к примеру, термокружка)</label>
        <input type="text" name="thesis" value="{{item.thesis}}"  class="crud-input">
      </div>
      <button class="btn round upper" type="submit">Опубликовать</button>
    </form>
  </div>
</section>

{{!-- CKEDITOR JS --}}
<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace( 'body' );
</script>