{{#each restaraunt}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">

<section class="restaurant-welcome">
  <h2 class="section-title">Ресторанный <span class="font-red">Дворик</span></h2>
</section>

<section class="restaurant-renters">
  <h2 class="section-title">Арендаторы <span class="font-red">2019</span></h2>
  <div class="container">
    <div class="wrapper-row">
      {{#each renters}}
      <div class="card renter-card">
        <div class="image-wrapper">
          <img class="image" src="/uploads/{{image}}" alt="">
        </div>
        <h6 class="title">{{title}}</h6>
        <p class="hidden-renter-value renter-description">{{items}}</p>
        <p class="hidden-renter-value renter-link">{{link}}</p>
        <button class="btn round openModal">Подробнее</button>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="restaurant-gallery">
    <div class="slider slider-nav slick-gallery" data-slick="{&quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 1, &quot;fade&quot;: false, &quot;cssEase&quot;: &quot;linear&quot;, &quot;arrows&quot;: false, &quot;centerMode&quot;: false, &quot;focusOnSelect&quot;: true, &quot;variableWidth&quot;: true, &quot;autoplay&quot;: false, &quot;responsive&quot;: [{&quot;breakpoint&quot;: 1400, &quot;settings&quot;: {&quot;centerMode&quot;: true}}]}">
    {{#each banners}}
    <div class="gallery-image-wrapper"><img src="/uploads/{{image}}" class="gallery-image"></div>
    {{/each}}
  </div>
</section>

<section class="restaurant-sketch">
  <h2 class="section-title">Аренда <span class="font-red">Домиков</span></h2>
  <div class="container">
    <div class="row">
      <div class="column">
        <img src="/images/1_house.jpg" alt="">
      </div>
      <div class="column">
           <p class="content-text">ВЕНСКИЙ ФЕСТИВАЛЬ – это не только про музыку! С годами Венский стал главной площадкой для летних посиделок с друзьями. Местом, где за один вечер можно повстречаться со всеми любимыми людьми, которых редко видишь из-за плотных рабочих графиков. Это оазис безмятежности и гармонии, который притягивает горожан. Вам не придется делать выбор – сходить на концерт или поужинать в любимом кафе. Лучшие кафе и рестораны города готовят для вас все самое вкусное и разное в нашем Ресторанном Дворике.
          <span class="font-red">#летомужинаемздесь</span></p>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h6 class="title">Арендаторам</h6>
        <p class="content-text">В этот юбилейный год наши друзья из архитектурной мастерской INGENIUM помогли апгрейдить наш Ресторанный Дворик. Ребята придумали новую форму домишек! Они не только милые, но и более функциональные и удобные. Как стать резидентом Ресторанного Дворика и арендовать домик, рассказываем <span class="font-red">по телефону: 8 (343) 350 05 03</span> 
        </p>
      </div>
      <div class="column">
        <img src="/images/2_house.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<div class="modal">
  <i id="closeModal" class="material-icons">clear</i>
  <h5 class="modal-title text-center">Арендатор №2</h5>
  <p class="plaing-text modal-descriptiom"></p>
  <a href="" target="_blank" class="btn round modal-link">Перейти на сайт</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
<script src="/js/gallery.js"></script>
<script>
  const renterCard = document.querySelectorAll('.renter-card');
  const modal = document.querySelector('.modal');

  renterCard.forEach(renter => renter.addEventListener('click', (e) => {
    if(e.target.classList.contains('openModal')) {
      let description, title, link;
      let renterChildren = renter.children;
      title = renterChildren[1].innerHTML;
      link = renterChildren[3].innerHTML;
      description = renterChildren[2].innerHTML;
      modal.style.display = 'flex';
      overlay.style.display = 'block';

      document.querySelector('.modal-title').innerHTML = title;
      document.querySelector('.modal-descriptiom').innerHTML = description;
      document.querySelector('.modal-link').setAttribute('href', link);
    }
  }));

  const closeModal = document.querySelector('#closeModal').addEventListener('click', () => {
    modal.style.display = 'none';
    overlay.style.display = 'none';
  });
</script>
{{/each}}

